<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/exam1review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print("success")

success

In [ ]:
%%bigquery --project data-viz-big-query
SELECT * 
from `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
LIMIT 10

   incident_number  ... num_pumps_attending
0  000320-01012017  ...                   2
1  003727-09012017  ...                   2
2  003762-09012017  ...                   2
3  006403-16012017  ...                   2
4  010947-26012017  ...                   1
5  014169-03022017  ...                   5
6  016263-08022017  ...                   2
7  016865-09022017  ...                   1
8  017092-10022017  ...                   1
9  024609-27022017  ...                   1

[10 rows x 32 columns]

In [2]:
%%bigquery --project data-viz-big-query
SELECT COUNT(*) as total_nightly_false_alarms
from `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
WHERE incident_group = "False Alarm" AND (hour_of_call >= 22 OR hour_of_call <= 4)

   total_nightly_false_alarms
0                        2825

In [3]:
# What is the average number of num_pumps_attending when there is a Fire?
%%bigquery --project data-viz-big-query
SELECT incident_group, AVG(num_pumps_attending) as avg_pumps_attending
from `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

    incident_group  avg_pumps_attending
0      False Alarm             1.725776
1             Fire             1.633012
2  Special Service             1.177192

In [4]:
# What is the largest number of num_pumps_attending to a Road Vehicle property_category
%%bigquery --project data-viz-big-query
#SELECT COUNT(*) as total_number, property_category as property_category, MAX(num_pumps_attending) as largest_pumps_attending
SELECT property_category as property_category, MAX(num_pumps_attending) as largest_pumps_attending
from `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
WHERE property_category = "Road Vehicle"
GROUP BY property_category

  property_category  largest_pumps_attending
0      Road Vehicle                        6