<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization
## Aayush Bhurtel

I am authenticating google account with BigQuery .

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that I am authenticated, I am going to display 5 rows of austin bikeshare dataset so that I can work with the assignment from professor more easily without needing to go look at the dataset everytime.

In [2]:
%%bigquery --project data-viz-big-query
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

# Compute the average time for a trip based on starting point

I am going to calcualte average time for a trip based on starting point which can be achieved by calculating average of duration in minutes using AVG function and group those data using GROUP BY function in bigQuery. Below is the demonstration.

In [8]:
%%bigquery --project data-viz-big-query
SELECT start_station_name, AVG(duration_minutes) as average_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name

                        start_station_name  average_time
0                         Zilker Park West     27.168259
1                  Toomey Rd @ South Lamar     28.115798
2          State Capitol @ 14th & Colorado     30.421842
3                         Waller & 6th St.     23.265843
4                               Pease Park     28.648889
..                                     ...           ...
188  Republic Square @ Guadalupe & 4th St.     23.067313
189                             3rd & West     19.937466
190                               3rd/West     34.152547
191                          Nueces & 26th     16.805353
192                            26th/Nueces     24.521670

[193 rows x 2 columns]

#Compute how many trips start at each starting point.

Again, we have to compute how many trips starts at each starting point. For this, we need to count the number of trips that starts at each of the start station. we can simply select start station name and do a COUNT on how many trips start over there.

In [7]:
%%bigquery --project data-viz-big-query
SELECT start_station_name, COUNT(*) as no_of_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name

                        start_station_name  no_of_trips
0                         Zilker Park West         1361
1                  Toomey Rd @ South Lamar         3627
2          State Capitol @ 14th & Colorado         5265
3                         Waller & 6th St.         5744
4                               Pease Park          675
..                                     ...          ...
188  Republic Square @ Guadalupe & 4th St.        11038
189                             3rd & West        23683
190                               3rd/West         6634
191                          Nueces & 26th        17673
192                            26th/Nueces         5007

[193 rows x 2 columns]