<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization
##Aayush Bhurtel
In this quiz I tried to read a data from an external dataset and Join that dataset with google big-query.

Skip here for classmate challenge as an assignment: 
<a href="https://colab.research.google.com/drive/1sJJ1jfpQG3jMkKU7oh2C0eDjTu5RIpR7#scrollTo=DnCZPQIfd6GB&line=2&uniqifier=1">Classmate challenge question</a>

Authenicating google with auth.

In [ ]:
from google.colab import auth
auth.authenticate_user()
print("Done")

Done

I am loading austin_crime dataset from google public queries dataset. Displaying 10 rows of data to get an idea of how the data is arranged and can be manupulated in the dataset.

In [ ]:
%%bigquery --project data-viz-big-query
SELECT *
FROM `bigquery-public-data.austin_crime.crime`
LIMIT 5

    unique_key     address census_tract  ... y_coordinate  year zipcode
0   2015150483  Austin, TX         None  ...         None  2015    None
1  20151542027  Austin, TX         None  ...         None  2015    None
2  20152001758  Austin, TX         None  ...         None  2015    None
3  20151340282  Austin, TX         None  ...         None  2015    None
4  20151871268  Austin, TX         None  ...         None  2015    None

[5 rows x 18 columns]

These data looks interesting but I don't need all of them. I am going to only list the type of crime that occured in austin and total number of those crimes.

In [ ]:
%%bigquery --project data-viz-big-query
SELECT COUNT(*) as total_cases, description as crime_type
FROM `bigquery-public-data.austin_crime.crime`
GROUP BY description
ORDER BY total_cases DESC
LIMIT 10

   total_cases                      crime_type
0        32224  THEFT
1        27944  BURGLARY OF VEHICLE
2        11834  THEFT BY SHOPLIFTING
3        10414  BURGLARY OF RESIDENCE
4         6231  AUTO THEFT
5         4495  BURGLARY NON RESIDENCE
6         4280  THEFT OF BICYCLE
7         2201  AGG ASSAULT
8         1774  THEFT FROM AUTO
9         1694  AGG ASLT STRANGLE/SUFFOCATE

I decided to compare Austin crime with chicago crime so here is a database for chicago crime.

In [ ]:
%%bigquery --project data-viz-big-query
SELECT *
FROM `bigquery-public-data.chicago_crime.crime`
LIMIT 5

   unique_key case_number  ...  longitude                       location
0     9271189    HW415646  ... -87.778280  (41.987206625, -87.778280142)
1     9275163    HW419651  ... -87.766357  (41.974129858, -87.766357256)
2     9311790    HW456294  ... -87.766357  (41.974129858, -87.766357256)
3     9330127    HW473982  ... -87.802765    (41.98818957, -87.80276544)
4     9331190    HW475081  ... -87.683258  (41.835344271, -87.683257919)

[5 rows x 22 columns]

Here is the formatted crime numbers and types on CHICAGO area

In [ ]:
%%bigquery --project data-viz-big-query
SELECT COUNT(*) as total_cases, primary_type as crime_type
FROM `bigquery-public-data.chicago_crime.crime`
GROUP By primary_type
ORDER By total_cases DESC
LIMIT 10

   total_cases           crime_type
0      1573554                THEFT
1      1371482              BATTERY
2       852637      CRIMINAL DAMAGE
3       740268            NARCOTICS
4       481035              ASSAULT
5       464780        OTHER OFFENSE
6       414976             BURGLARY
7       345760  MOTOR VEHICLE THEFT
8       322666   DECEPTIVE PRACTICE
9       281150              ROBBERY

Now I want to join two tables and create a side by side comparision.

In [ ]:
%%bigquery --project data-viz-big-query
SELECT COUNT(Austin.description) as austin_crime_numbers, Austin.description, COUNT(Chicago.primary_type) as chicago_crime_numbers, 
FROM `bigquery-public-data.chicago_crime.crime` as Chicago FULL JOIN `bigquery-public-data.austin_crime.crime` as Austin ON Chicago.primary_type = Austin.description
GROUP BY Austin.description
LIMIT 50

    austin_crime_numbers                     description  chicago_crime_numbers
0                      0                            None                7476832
1                      4  AIRPORT - BREACH OF SECURITY                        0
2                    367  THEFT OF VEHICLE/OTHER                              0
3                     37  AGG SEXUAL ASSAULT CHILD/OBJEC                      0
4                  11834  THEFT BY SHOPLIFTING                                0
5                   1339  THEFT FROM PERSON                                   0
6                   1432  AGG ROBBERY/DEADLY WEAPON                           0
7                     23  THEFT CATALYTIC CONVERTER                           0
8                   4495  BURGLARY NON RESIDENCE                              0
9                      3  POCKET PICKING                                      0
10                     1  SERIOUS INJURY TO A CHILD                           0
11                   119  SEXUAL ASSAULT W/ OBJECT                            0
12                    10  MANSLAUGHTER                                        0
13                 10414  BURGLARY OF RESIDENCE                               0
14                   270  ROBBERY BY THREAT                                   0
15                   243  RAPE OF A CHILD                                     0
16                    30  THEFT OF HEAVY EQUIPMENT                            0
17                   229  AGG RAPE OF A CHILD                                 0
18                  2201  AGG ASSAULT                                         0
19                  4280  THEFT OF BICYCLE                                    0
20                   464  THEFT OF METAL                                      0
21                  1694  AGG ASLT STRANGLE/SUFFOCATE                         0
22                    72  MURDER                                              0
23                     2  AGG FORCED SODOMY                                   0
24                   163  THEFT OF TRAILER                                    0
25                   211  AGG ASSAULT WITH MOTOR VEH                          0
26                    44  AGG RAPE                                            0
27                    23  BURG OF RES - SEXUAL NATURE                         0
28                    43  FORCED SODOMY                                       0
29                  1774  THEFT FROM AUTO                                     0
30                  1092  ROBBERY BY ASSAULT                                  0
31                   270  BREACH OF COMPUTER SECURITY                         0
32                  1382  THEFT OF LICENSE PLATE                              0
33                   759  THEFT FROM BUILDING                                 0
34                   836  BURG NON RESIDENCE SHEDS                            0
35                  6231  AUTO THEFT                                          0
36                   271  BURGLARY OF COIN-OP MACHINE                         0
37                    21  MISAPPLY FIDUCIARY PROP                             0
38                     9  DEADLY CONDUCT FAM/DATE VIOL                        0
39                    47  AGG ASSAULT ON PUBLIC SERVANT                       0
40                   115  SEXUAL ASSAULT OF CHILD/OBJECT                      0
41                   113  AGG ASLT W/MOTOR VEH FAM/DAT V                      0
42                     1  AGG FORCED SODOMY OF CHILD                          0
43                    65  AGG ROBBERY BY ASSAULT                              0
44                   364  DEADLY CONDUCT                                      0
45                     8  AGG SEXUAL ASSAULT W OBJECT                         0
46                   764  THEFT OF AUTO PARTS                                 0
47                    11  CAPITAL MURDER                                      0
48                  1018  AGG ASSAULT FAM/DATE VIOLENCE                       0
49                   297  AGG ASLT ENHANC STRANGL/SUFFOC                      0

In [ ]:
%%bigquery --project data-viz-big-query
SELECT * 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

Here is a question I got from my classmate where we tried to see if there is a trip where duration_minutes is 0. This is weird since there is no minutes but it is included in a trip.

In [20]:
%%bigquery --project data-viz-big-query
SELECT COUNT(*) as total_biker_count, subscriber_type as subscriber, start_station_name as station
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE duration_minutes = 0 AND subscriber_type = "Local365"
GROUP BY subscriber_type, station
ORDER BY total_biker_count DESC

    total_biker_count subscriber                                  station
0                 188   Local365                 City Hall / Lavaca & 2nd
1                 170   Local365                               3rd & West
2                 164   Local365                              5th & Bowie
3                 135   Local365  Convention Center / 4th St. @ MetroRail
4                 128   Local365                     Rainey St @ Cummings
..                ...        ...                                      ...
88                  1   Local365                                     Shop
89                  1   Local365                        23rd & Rio Grande
90                  1   Local365                        Rio Grande & 28th
91                  1   Local365                     Dean Keeton & Whitis
92                  1   Local365                            Nueces & 26th

[93 rows x 3 columns]