<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualization
**Aayush Bhurtel**

I am using pandas as our data manupulation library to get to know more about how to work with this library. here, pandas library is imported as pd.

In [2]:
import pandas as pd

Here, I used a read_csv function from pandas library to read a csv file from a web. In this case, I pulled a csv data from professor github repository.

In [3]:
dataFrame = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
dataFrame

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

# Working with Data

I am using pandas library to get the column names from the dataset that we read from professor github. pandas have a very easy function call to access the column names, just call the object and point that object to columns using dot operator. below is the code for same purpose.

In [4]:
dataFrame.columns

Index(['SepalLength', 'SepalWidth', 'PedalLength', 'PedalWidth', 'Class'], dtype='object')

#3. Find mean of a column from a dataset.

I can do this in pandas by using a mean() function in python. we can use above code as a path to call the mean of a particular column. 

First call a dataset object and point it towards specific column using the column name. now, call the mean() function using dot operator at the end of that statement to calculate the mean of a particular column.

In [5]:
dataFrame.PedalLength.mean

<bound method Series.mean of 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PedalLength, Length: 150, dtype: float64>

Above code can be done in another way as well. We call dataset object followed by a name of a column in brackets and mean function. demonstration is follows:

In [6]:
dataFrame["PedalLength"].mean

<bound method Series.mean of 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PedalLength, Length: 150, dtype: float64>

#4. Find the last row

Pandas library has iloc[] function that does location based indexing in a dataset. That means, I can provide row, column, or both and get the specific values or whole serie based on the location of data. 

here, I can get the last row using negative indexing in dataset.

In [7]:
dataFrame.iloc[-1]

SepalLength               5.9
SepalWidth                  3
PedalLength               5.1
PedalWidth                1.8
Class          Iris-virginica
Name: 149, dtype: object

#5. Melt the data keeping two columns of values and the type of flower

pandas library provides us with melt function which can be used to categorize and display small portion of large dataset with filters. 

Here, id_vars is also called as identifier variables which remains entact or does not change. value_vars is the list of columns to be displayed in a melted dataset. In this case, we have two columns(Sepallength and SepalWidth) to be displayed so we pass them as a parameter to value_vars. Finally, var_name is the name of a new variable column which holds the reshaped data values.

In [13]:
df_melt = dataFrame.melt(id_vars="Class", value_vars=['SepalLength', 'SepalWidth'], var_name='columns')
df_melt

              Class      columns  value
0       Iris-setosa  SepalLength    5.1
1       Iris-setosa  SepalLength    4.9
2       Iris-setosa  SepalLength    4.7
3       Iris-setosa  SepalLength    4.6
4       Iris-setosa  SepalLength    5.0
..              ...          ...    ...
295  Iris-virginica   SepalWidth    3.0
296  Iris-virginica   SepalWidth    2.5
297  Iris-virginica   SepalWidth    3.0
298  Iris-virginica   SepalWidth    3.4
299  Iris-virginica   SepalWidth    3.0

[300 rows x 3 columns]

#6. Select flowers that have pedal length greater than 5 and sepal length less than 7

I used a loc method in pandas library which access group of values from the dataset based on the values provided. Here, I selected to display a set of data from a dataset which has value more then 5 on Sepallength column. Also, I used and operator to display another set of data whose value is less then 7, listed under PedalLength column.

In [23]:
dataFrame.loc[(dataFrame['PedalLength'] > 5) & dataFrame['SepalLength'] < 7]

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

#7. Group the data by type of flower and compute mean and median

Here, I used groupby method or function in pandas library which groups dataFrame data using series of columns. This function groups large amount of data and computes various operation like mean and median which we do in this block of code.

I have passed a label as a 'Class' so that pandas will group my dataset based on the values in that label. Now, I will use a agg function using dot operator and pass mean and median as a parameter to calulate mean and median of those class values respectively.

In [26]:
dataFrame.groupby(by ='Class').agg(['mean'],['median'])

                SepalLength SepalWidth PedalLength PedalWidth
                       mean       mean        mean       mean
Class
Iris-setosa           5.006      3.418       1.464      0.244
Iris-versicolor       5.936      2.770       4.260      1.326
Iris-virginica        6.588      2.974       5.552      2.026